<html>
    <head>
        <meta charset="utf-8">
        <title>vue 시작하기!!</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    </head>
    <body>
        <h1>vue 시작하기!!!</h1>
        <div id="start">
            <input type="checkbox" value="1" v-model="checks">
            <label>1</label>
            <input type="checkbox" value="2" v-model="checks">
            <label>2</label>
            <input type="checkbox" value="3" v-model="checks">
            <label>3</label>
            <br>
            <h1>체크리스트 : {{ checks }}</h1>
        </div>
        <script type="text/javascript">
            let app = new Vue({
                el: '#start',
                //checkbox는 여러 개의 선택이 가능하기에 리스트 형태
                data() {
                    return {
                        checks: []
                    }
                }
            });
        </script>
    </body>
</html>