<html>
    <head>
        <meta charset="utf-8">
        <title>vue 시작하기!!</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    </head>
    <body>
        <h1>vue 시작하기!!!</h1>
        <div id="start">
            <input type="radio" value="1" v-model="pick">
            <label>1</label>
            <input type="radio" value="2" v-model="pick">
            <label>2</label>
            <input type="radio" value="3" v-model="pick">
            <label>3</label>
            <br>
            <h1>체크리스트 : {{ pick }}</h1>
        </div>
        <script type="text/javascript">
            let app = new Vue({
                el: '#start',
                //radio는 check박스와 다르게 하나의 값만 선택 가능
                data() {
                    return {
                        pick: ''
                    }
                }
            });
        </script>
    </body>
</html>